@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  margin-right: 85px;
  color: #fdd03b;
}

body {
  background-color: #00202e
;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #4a9396;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 400px;
  width: 260px;
  border-radius: 10px;
}

.display {
  color: #fff;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 75px;
  width: 100%;
}

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
}
button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 28px;
  margin: 5px;
  height: 50px;
  width: 50px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.big-v {
  border-radius: 50px;
  height: 110px;
}

button.big-h {
  border-radius: 50px;
  width: 110px;
}

button.orange {
  background-color: #cb7f07;
  color: #fff;
}

button.dark-brown {
  background-color: #291907;
  color: #fff;
}

button.light-grey {
  background-color: #A5A5A5;
  font-weight: bold;
}

button.ac {
  margin-right: 50%;
}